.contenedor {
    width: 100%;
    margin: auto;
    background-color: white 
    
}

.bodyE {
    font-family: Arial, sans-serif;
    padding: 5%;
    width: 100%;
    background: url('../imagenes/fondocinta2.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0 auto;
    color: black;
}

.container {
    display: flex;
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 20px;
    background-color: #000000;
}



.footer {
    position: fixed; /* Cambiado a fixed */
    bottom: 0;
    font-family: Arial;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #05124f /*#2c2d2f*/;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAF9F6;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
